main{
     position: absolute;
     width: 1280px;

     font-family: 'Raleway';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     color: rgba(0, 0, 0, 0.6);
     
}

.main_form{
     position: absolute;
     left: 240px;
     width: 800px;
     height: 130px;
     top: 160px;
}

form > div {
    margin-bottom: 30px;
  }

.main_title_block{
     text-align: center;
     font-size: 24px;
     margin-bottom: 25px;
}

.line_button input[type=text] {
    border-radius: 6px 0px 0px 6px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    color: rgba(0, 0, 0, 0.3);
    background: #f1f1f1;
  }

.line_button input[type=text]:hover, .line_buttoninput[type=text]:focus {
    outline: none;
  }
  
  /* Style the submit button */
.line_button input[type=submit] {
    border-radius: 0px 6px 6px 0px;
    float: left;
    height: 45px;
    width: 20%;
    background: #7F8291;
    color: white;
    font-size: 16px;
    border: 1px solid #7F8291;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
.line_button input[type=submit]:hover {
    background: #7F8291;
  }

  .invalid{
 background: #FF9C9C;
 }

 .correct{
  background: #f1f1f1;
 }

 .invalid_messages{
 text-align: center;
 }
  
  /* Clear floats */
.line_button::after {
    content: "";
    clear: both;
    display: table;
  }



  div[role="progressbar"]{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 240px;
    top: 320px;
  }

  div[role="progressbar"] {
    --size: 17rem;
    --fg: #04145C;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, #CDD0C8 80%, transparent 0 99.9%, #CDD0C8 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  
  .info_check{
    text-align: center;
    position: absolute;
    width: 500px;
    height: 100px;
    left: 540px;
    top: 400px;
  }

  .info_check > p{
    margin-bottom: 30px;
  }