/* Content styles start*/

.main{
     position: absolute;
     width: 1280px;

     font-family: 'Raleway';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     color: rgba(0, 0, 0, 0.6);
     
}

.main_form{
     position: absolute;
     width: 400px;
     height: 400px;
     left: 160px;
     top: 200px;
}

.main_title_block{
     text-align: center;
     font-size: 24px;
     margin-bottom: 25px;
}

form > div {
     margin-bottom: 30px;
   }

.line_checkbox{
     margin-left: 5px;
}

.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  width: 40px; 
  height: 20px;
  margin: 4px;
  transform: translateY(50%);
  position: relative;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #7F8291, 0 0 4px #7F8291;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #7F8291;
  border-radius: 20px;
  transform: translateX(-20px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(20px); /*translateX(w-h)*/
  background-color: #04145C;
}

input:checked + .slider
{
  box-shadow: 0 0 0 2px #04145C, 0 0 4px #04145C;
}

.line_button input[type=text] {
     border-radius: 6px 0px 0px 6px;
     height: 45px;
     text-align: center;
     font-size: 16px;
     border: 1px solid grey;
     float: left;
     width: 50%;
     color: rgba(0, 0, 0, 0.3);
   }

 .invalid{
 background: #FF9C9C;
 }

 .correct{
  background: #f1f1f1;
 }

 .invalid_messages{
 text-align: center;
 }

.line_button input[type=text]:hover, .line_button input[type=text]:focus {
     outline: none;
 }

   
   /* Style the submit button */
.line_button input[type=submit] {
     border-radius: 0px 6px 6px 0px;
     float: left;
     height: 45px;
     width: 50%;
     background: #7F8291;
     color: white;
     font-size: 16px;
     border: 1px solid #7F8291;
     border-left: none; /* Prevent double borders */
     cursor: pointer;
   }
   
.line_button input[type=submit] {
     background: #7F8291;
   }
   
   /* Clear floats */
.line_button::after {
     content: "";
     clear: both;
     display: table;
   }


.main_form_gen{
     position: absolute;
     width: 400px;
     height: 400px;
     left: 720px;
     top: 200px;
}

.main_form_gen > div {
   margin-bottom: 30px;
 }

.line_gen_password{
   text-align: center;
}

.copy_icon{
   margin-left:5px;
}

.copy_icon:hover{
   filter: drop-shadow(0 0 5px #5c6bb5);
}

.button_icon_copy{
   padding: 0;
   border: none;
   background: none;
}

.line_icon{
   position: absolute;
   width: 530px;
   height: 0px;
   left: 640px;
   top: 130px;
}

/* Content styles stop*/