<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassGenius</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/check_password_style.css">
</head>
<body>
    <div class="wraper">
        <header class="header">
            <div class="header_logo">
                <a href="/" class="header_logo_link">PassGenius</a>
            </div>
        
            <hav class="header_nav">
                <ul class="header_list">
                    <li class="header_item">
                        <a href="#!" class="header_link">Сгенерировать </a>
                    </li>
                    <li class="header_item">
                        <a href="#!" class="header_link">Проверить надежность</a>
                    </li>
                </ul>
            </hav>
        </header>

        <main class="main">
            <form action="#!" method="post" class="main_form">
                <p class="main_title_block">Проверка надежности</p>
                <div class="line_button">
                    <input maxlength="100" type="text" placeholder="введите пароль" name="">
                    <button type="submit">ПРОВЕРИТЬ</button>
                </div>
            </form>
            
            <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:70"></div>

            <div class="info_check">
                <p>Надежность пароля средняя</p>
                <p>Приблизительное время перебора: 100 часов</p>
            </div>

        </main>

        <footer>
            <div class="div_footer"><img src="/img/svg/footer_icon.svg" alt=""></div>
        </footer>
    </div>
</body>
</html>