{% extends 'base.html' %}

{% block head%}
{{ super() }}
<link type="text/css" href="{{url_for('static', filename='css/generation_password.css')}}" rel="stylesheet" />
{% endblock%}
{% block contect %}
<form action="#!" method="post" class="main_form">
    <p class="main_title_block">Настройка параметров</p>
    <div class="line_checkbox">
        <label class="switch">
            <input type="checkbox" name="">
            <span class="slider"></span>
        </label> Цифры
    </div>

    <div class="line_checkbox">
        <label class="switch">
            <input type="checkbox" name="">
            <span class="slider"></span>
        </label> Прописные буквы
    </div>

    <div class="line_checkbox">
        <label class="switch">
            <input type="checkbox" name="">
            <span class="slider"></span>
        </label> Строчные буквы
    </div>

    <div class="line_checkbox">
        <label class="switch">
            <input type="checkbox" name="">
            <span class="slider"></span>
        </label> Спец. символы
    </div>

    <div class="line_button">
        <input maxlength="32" type="text" placeholder="длина пароля" name="">
        <button type="submit">СГЕНЕРИРОВАТЬ</button>
    </div>
</form>

<div class="line_icon"><img src="{{url_for('static', filename='/img/svg/line_icon.svg')}}"></div>
<form action="#!" method="post" class="main_form_gen">
    <p class="main_title_block">Сгенерированные пароли</p>
    {% for psw in passwords%}
    <div class="line_gen_password">
        <label class="genertor_password">{{ psw }}</label> <button class="button_icon_copy"><img class="copy_icon" src="{{url_for('static', filename='/img/svg/copy_icon.svg')}}" alt="copy_icon"></button>
    </div>
    {% endfor %}
</form>
{% endblock %}