<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassGenius</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/generation_password.css">
</head>

<body>
    <div class="wraper">
        <header class="header">
            <div class="header_logo">
                <a href="/" class="header_logo_link">PassGenius</a>
            </div>
        
            <hav class="header_nav">
                <ul class="header_list">
                    <li class="header_item">
                        <a href="#!" class="header_link">Сгенерировать </a>
                    </li>
                    <li class="header_item">
                        <a href="#!" class="header_link">Проверить надежность</a>
                    </li>
                </ul>
            </hav>
        </header>


        <main class="main">
        <form action="#!" method="post" class="main_form">
            <p class="main_title_block">Настройка параметров</p>
            
            <div class="line_checkbox">
                <label class="switch">
                    <input type="checkbox" name="">
                    <span class="slider"></span>
                </label> Цифры 
            </div>

            <div class="line_checkbox">
                <label class="switch">
                    <input type="checkbox" name="">
                    <span class="slider"></span>
                </label> Прописные буквы
            </div>

            <div class="line_checkbox">
                <label class="switch">
                    <input type="checkbox" name="">
                    <span class="slider"></span>
                </label> Строчные буквы
            </div>

            <div class="line_checkbox">
                <label class="switch">
                    <input type="checkbox" name="">
                    <span class="slider"></span>
                </label> Спец. символы
            </div>

            <div class="line_button">
                <input maxlength="20" type="text" placeholder="длина пароля" name="">
                <button type="submit">СГЕНЕРИРОВАТЬ</button>
            </div>
        </form>

        <div class="line_icon"><img src="/img/svg/line_icon.svg"></div>

        <form action="#!" method="post" class="main_form_gen">
            <p class="main_title_block">Сгенерированные пароли</p>
            
            <div class="line_gen_password">
                <label class="genertor_password">kdflkdlkfg</label> <button class="button_icon_copy"><img class="copy_icon" src="/img/svg/copy_icon.svg" alt="copy_icon"></button>
            </div>

            <div class="line_gen_password">
                <label class="genertor_password">kdflkdlkfg</label> <button class="button_icon_copy"><img class="copy_icon" src="/img/svg/copy_icon.svg" alt="copy_icon"></button>
            </div>

            <div class="line_gen_password">
                <label class="genertor_password">kdflkdlkfg</label> <button class="button_icon_copy"><img class="copy_icon" src="/img/svg/copy_icon.svg" alt="copy_icon"></button>
            </div>

            <div class="line_gen_password">
                <label class="genertor_password">kdflkdlkfg</label> <button class="button_icon_copy"><img class="copy_icon" src="/img/svg/copy_icon.svg" alt="copy_icon"></button>
            </div>

            <div class="line_gen_password">
                <label class="genertor_password">kdflkdlkfg</label> <button class="button_icon_copy"><img class="copy_icon" src="/img/svg/copy_icon.svg" alt="copy_icon"></button>
            </div>
        </form>

        </main>

        <footer>
            <div class="div_footer"><img src="/img/svg/footer_icon.svg" alt=""></div>
        </footer>
    </div>
</body>
</html>